@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
 @font-face {
  font-family: SourceSansPro;
  src: url('../public/fonts/SourceSansPro-ExtraLight.otf');
 
 }
 @font-face {
    font-family: SourceSansProSemi;
    src: url('../public/fonts/SourceSansPro-Light.otf');
  
   }
}


