@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
 @font-face {
  font-family: SourceSansPro;
  src: url('../public/fonts/SourceSansPro-Black.otf');
 }
}

.hero-custom {
    background-image: url('../public/assets/hero-image.png');

}


